header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #025b08;
    padding: 15px 40px;
    color: white;
    font-size: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.predict-btn {
    background: #00796B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.predict-btn:hover {
    background: #004D40;
}
